.body{
    background-color: #c0e0ef;
    margin: 0;
}

.heading1{
    text-align: left;
    font-size: 50px;
    margin-left: 60px;
    font-family:'Courier New', Courier, monospace;
}

.heading2{
    text-align: left;
    font-size: 80px;
    margin-left: 60px;
    font-family: Cochin;
}

.heading3{
    text-align: left;
    font-size: 80px;
    margin-left: 250px;
    font-family: cochin;
    line-height: 0%;
}

.about-me{
    text-align: left;
    font-size: 20px;
    margin-left: 150px;
    font-family: cochin;
    line-height: 200%;
}

.white-bar{
    background-color: white;
    width: 100%;
    height: 100px;
    margin-top: 200px;
}

.heading1-2{
    text-align: center;
    font-size: 50px;
    margin-left: 60px;
    font-family:'Courier New', Courier, monospace;
}

.box{
    border: 2px solid hwb(0 0% 100%);
    border-radius: 15%;
    background-color: white;
    width: 220px;
    height: 200px;
    margin-top: 60px;
    text-align: center;
    font-family: cochin;
    line-height: 450%;
    font-size: 40px;
    float: left;
    box-shadow: 10px 10px 5px grey;
    margin-left: 9%;
    margin-right: 9%;
}

.box:hover{
    cursor: pointer;
    transform: scale(1.1);  
    transition: transform 0.5s;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.laptop-container {
    position: relative;
    width: 500px;
    height: 450px; 
    margin-left:45%;
}

.laptop-frame {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.laptop-screen {
    position: absolute;
    top: 5%;
    left: 12%;
    width: 80%;
    height: 50%;
    border: none;
    z-index: 1;
}

.project-section{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 9%;
}

.project-box{
    border: 2px solid hwb(0 0% 100%);
    border-radius: 2%;
    background-color: white;
    width: 600px;
    height: 100px;
    margin-top: 60px;
    text-align: left;
    font-family: cochin;
    line-height: 450%;
    font-size: 10px;
    float: left;
    box-shadow: 10px 10px 5px grey;
    margin-left: 9%;
    margin-right: 9%;
}

.navbar{
    background-color: #478fb4;
    position: relative;
    top: 0;
    width: 100%;
    margin-top:50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
}

.bubble{
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-family: cochin;
    border: black 2px solid;
    border-radius: 10%;
    background-color: #c0e0ef;
}

.bubble:hover{
    cursor: pointer;
    transform: scale(1.1);  
    transition: transform 0.5s;
    
}